* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: red 1px solid; */
}
body {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--maincolor);
}
:root{
    --maincolor : #0B0B0B;
    --secondarycolor : rgb(34, 34, 36);
    --brandcolor : #D4AF37;
}

/* start header  */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
}
header .nav {
    background-color: var(--maincolor);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header i {
    color: white;
    font-size: 25px;
}
header .logo {
    width: 140px;
}
header .cart {
    width: 30px;
}
.menu {
    background-color: rgba(34, 34, 36, 0.95);
    height: 100%;
    width: 100%;
    position: fixed;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}
header .active {
    transform: translateX(0);
}
.menu a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    height: 70px;
    display: flex;
    align-items: center;
}
.menu a:hover {
    color: var(--brandcolor);
}
/* end header  */

/* start hero */
section.hero {
    position: relative;
    width: 100%;
}
section.hero .slider {
    position: relative;
    aspect-ratio: 390 / 260;
}
section.hero .slider .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 1s ease;
}
section.hero .slide.active {
    opacity: 1;
}
section.hero .slider img {
    width: 100%;
    display: block;
    height: auto;
}
section.hero img {
    width: 100%;
}
.hero .slider-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}
.hero .slider-dots div {
    width: 20px;
    height: 7px;
    border-radius: 5px;
    background-color: white;
    transition: all 1s ease;
}
.hero .slider-dots div.active {
    width: 30px;
    background-color: var(--brandcolor);
}
.hero .hero-content {
    padding-left: 10px;
    position: absolute;
    top: 15px;
    color: white;
    width: 60vw;
}
.hero .hero-content p {
    padding-top: 20px;
    margin-bottom: 20px;
}
.hero .hero-content span {
    color: var(--brandcolor);
}
.hero .hero-content a {
    text-decoration: none;
    background-color: var(--brandcolor);
    padding: 10px;
    color: var(--maincolor);
    border-radius: 5px;
    font-weight: 700;
}
/* end hero */
/* start categories */
section.categories img {
    width: 70px;
    border-radius: 50%;
}
section.categories .cate {
    display: flex;
    justify-content: space-between;
    gap: 3px;
}
section.categories .cate div:hover img {
    border: 3px var(--brandcolor) solid;
}
section.categories p {
    color: white;
    font-size: 12px;
    text-align: center;
}
section.categories h2 {
    color: white;
    padding: 10px 0;
    text-align: center;
}
/* end categories */

/* start featured product */
section.featured {
    color: white;
}
section.featured h2 {
    text-align: center;
    padding: 20px;
}
section.featured img {
    aspect-ratio: 1/1;
    width: 100%;
    transition: all 0.2s;
    /* object-fit: contain; */
}
section.featured .fea-p {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
section.featured .fea-p .product {
    background-color: var(--secondarycolor);
    border-radius: 10px;
    overflow: hidden;
}
section.featured .fea-p p {
    color: var(--brandcolor);
    font-weight: bold;
    font-size: large;
    padding: 10px;
}
section.featured .fea-p h4 {
    padding: 10px 0 0 5px
}
section.featured .fea-p button {
    background-color: transparent;
    color: white;
    border: 2px var(--brandcolor) solid;
    margin-left: 50%;
    width: max-content;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    transform: translateX(-50%);
    font-size: larger;
}
section.featured .fea-p button:hover,
section.featured a:hover {
    background-color: var(--brandcolor);
    font-weight: bold;
    cursor: pointer;
}
section.featured .fea-p .product:hover img {
    transform: scale(1.1);
}
section.featured a {
    display: inline-block;
    margin: 20px 0;
    margin-left: 50%;
    padding: 10px 30px;
    width: max-content;
    transform: translateX(-50%);
    text-decoration: none;
    color: white;
    border: 2px var(--brandcolor) solid;
    border-radius: 10px;
    font-size: larger;
}
/* end featured product */

/* start about page  */
section.about h2 {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}
section.about svg {
    width: 90px;
    padding-right: 30px;
}
section.about span::before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 4px;
    height: 50px;
    background-color: var(--secondarycolor);
}
section.about p {
    color: white;
    padding-top: 10px;
    font-size: 20px;
}
section.about h5 {
    color: white;
    font-size: 25px;
}
section.about span {
    display: inline-block;
    margin-right: 30px;
    height: 100%;
    background-color: var(--secondarycolor);
}
section.about .info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
/* end about page  */
